@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  background-color: #fff;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-logo {
  display: block;
  margin-left: 60px;
  width: 145px;
}

.main-container {
  flex-grow: 1;
  padding-top: 0;
  padding-bottom: 0;
}

.search-button::placeholder {
  font-family: inherit;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}

.page-header {
  color: #000;
  background-color: #ffe17f;
  margin: 0 auto;
  margin-top: 15px;
  width: 1160px;
}

.submit {
  font-size: 16px;
  line-height: 20px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu-searcher {
  width: 517px;
}

.log-in {
  width: 231px;
  justify-content: space-between;
}

.menu-basket {
  justify-content: space-between;
  width: 240px;
}

.menu-link {
  /* уточнить про паддинги */
  display: block;
  padding: ;
  text-decoration: none;
  color: #000;
}

.list-of-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.first-column {
  display: flex;
  flex-direction: column;
  width: 222px;
  margin-right: 20px;

}

.catalog-container-header {
  display: flex;
  margin: 0 auto;
  width: 1040px;

}

.catalog-container {
  width: 260px;
  padding-left: 60px;
}

.second-column {
  display: flex;
  flex-direction: column;
  width: 211px;
}

.third-column {
  display: flex;
  flex-direction: column;
  width: 211px;
}

.catalog-wrapper {
  padding-top: 33px;
  width: 1040px;
  display: flex;
  padding-bottom: 27px;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-button {
  display: block;
  width: 293px;
  margin-right: 276px;
}

.catalog-item {
  margin-bottom: 18px;
}

.services-navigation {
  display: flex;
  justify-content: space-between;
  width: 471px;
}

.navigation-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.catalog-text {
  display: block;
  color: #000;
  text-decoration: none;
}

/* Не понимаю как сделать у числа отступ, паддинги или марджины уходят вбок и выпадают, а число не двигается */

.number-text {
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
  color: #fff;
  background-color: #ffe17f;
  margin: 0;
  width: 1160px;
}

.icons-catalog-list {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.items-link {
  width: 160px;
}

.icons-text {
  display: block;
}

.sliders {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0;

}

.slider-image {
  margin-right: 40px;
}

.sliders-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.sliders-text-container {
  margin-top: 121px;
  width: 560px;
}

.sliders-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 29px;
}

.button {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
  height: 40px;
}

.features {
  font-weight: inherit;
  font-size: 36px;
  line-height: 30px;
}

.features-text {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.icons-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000;
}

.services-options {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.services-buttons {
  width: 287px;
  padding: 0;
  margin: 0;
  margin-right: 116px;
  margin-bottom: 65px;
  margin-top: 64px;
  list-style-type: none;

}

.table {
  margin-top: 49px;
}

.stats {
 margin-bottom: 12px;
}

.button-services {
  margin-bottom: 35px;
}

.button-services:last-child {
  margin-bottom: 0px;
}

.services-list {
  width: 425px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.delivery-order {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #F0F0F0;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-container {
  width: 1160px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about {
  width: 520px;
  margin-right: 108px;
  color: #444444;
}

.contacts {
  width: 532px;
  margin-left: auto;
  color: #444444;
}

.contacts-schedule {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.services-text {
  margin: 0;
  color: #444444;
}

.subtitle {
  margin-top: 0;
  color: #444444;
  margin-bottom: 51px;
}

.mailing {
  color: #444444;
  width: 560px;
  margin-top: 74px;
  margin-left: auto;
}

.mailing-free {
  margin-left: auto;
  color: #444444;
  margin-bottom: 69px;
}

.field {
  width: 557px;
  height: 55px;
  background-color: #F0F0F0;
}

.about-title {
  margin-top: 47px;
  margin-bottom: 48px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
}

.title-text {
  margin-top: 0;
  margin-bottom: 30px;
}

.contacts-title {
  margin-top: 47px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
}

.contacts-subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.partners {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 20px;
}

.partners-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 19px;
}

.contacts-address-text {
  margin-top: 0;
  font-style: normal;
  margin-bottom: 0;
}

.contacts-phone {
  display: block;
  font-style: normal;
  color: #444444;
  margin-bottom: 30px;
}

.newsletter {
  display: flex;
  background-color: #F0F0F0;
}

.newsletter-text-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}
.newsletter-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 348px;
  margin-top: 64px;
}

.newsletter-form {
  margin-bottom: 56px;
}

.field::placeholder {
  color: #000;
  font-size: 18px;
  line-height: 30px;
}

.main-footer {
  background-color: #444444;
  color: #fff;
}

.page-footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.footer-contacts {
  width: 239px;
  margin-right: 119px;
  margin-top: 62px;
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 444px;
  margin-bottom: 62px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  width: 150px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-social-item:nth-child(3) {
  margin-right: 0;
}

.footer-navigation {
  margin-top: 137px;
  margin-right: 183px;
  margin-bottom: 61px;
}

.reference {
  margin-top: 140px;
  width: 175px;
  margin-left: auto;
}

.logo-footer {
  display: block;
  margin-bottom: 35px;
}

.footer-navigation-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

/* Пока решила не делать с ними ничего, все равно потом будут тут иконки */
.htmlacademy {
  color: #fff;
}

.footer-contacts-address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px
}

.footer-contacts-phone {
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 63px;
}

.inner-container {
  width: 1160px;
  margin: 0 auto;

}

.inner-header {
  width: 1079px;
  margin-left: 63px;
}

.inner-header-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 16px;
}

.tree-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000;
}

.tree {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 35px;
}

.tree-item {
  margin-right: 36px;
}

.tree-item:last-child {
  margin-right: 0;
}

.cards {
  color: #000;
  background-color: #fff;
  padding-bottom: 78px;
}

.catalog-products {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.main-background {
  color: #000;
  background-color: #F0F0F0;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.catalog-filter-item {
  margin-bottom: 17px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-right-column {
  width: 840px;
}

.filter {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 25px;
}

.sorting {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 206px;
  margin-left: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.sorting-container {
  display: flex;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding: 0;
  padding-top: 12px;
  margin-bottom: 20px;
}

.control-input {
  margin: 0;
}

.control {
  font-size: 16px;
  line-height: 19px;
}

.select-control {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  margin-right: 206px;
  background-color: #F0F0F0;
  border: none;
  width: 141px;
  margin-top: 20px;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}


.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
}


.product-card-link {
  text-decoration: none;
  color: #000;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.pagination-link {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #EBEBEB;
  color: #000;
  width: 760px;
  height: 71px;
}

.pagination-show-more {
  border: 5px solid;
  border-color: #dcdcdc;
  padding: 18px 295px;
  margin-bottom: 44px;
  width: 760px;
  height: 55px;
}

.previous-page {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
}

.next-page {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
}


.logo-h {
  margin-bottom: 65px;
}

.main-inner {
  padding-top: 35px;
}

.arrows {
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-top: 20px;
}
