@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  min-width: 1160px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-wrap {
  display: flex;
  flex-wrap: wrap;
}

.navigation-logo {
  display: inline-block;
  width: 145px;
  margin-bottom: 30px;
  margin-left: 60px;
}

.logo {
  display: block;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-logo:focus {
  outline: 2px solid #af4fff;
}

.main-container {
  flex-grow: 1;
  padding-top: 0;
  padding-bottom: 0;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.search-button {
  flex-grow: 1;
  box-sizing: border-box;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
  padding: 0;
  padding-left: 47px;
  background-color: #ffe17f00;
  border: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.search-wrapper {
  display: flex;
  border: 2px solid #000000;
  border-radius: 20px 0 0 20px;
  border-right: none;
}

.search-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

/*Стиль для неактивного поискового окна*/
.search-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.search-button::placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 1;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 10px;
  min-width: 40px;
  opacity: 0.3;
}

.page-header {
  color: #000000;
  margin: 0 auto;
  margin-top: 20px;
  width: 1160px;
  background: linear-gradient(to bottom, #ffffff 20px, #ffe17f 20px);
  position: relative;
  z-index: 2;
}

.index {
  padding-bottom: 0;
}

.catalog-page {
  padding-bottom: 22px;
  margin-top: 18px;
  background: linear-gradient(to bottom, #ffffff 22px, #ffe17f 22px);
}

.submit {
  display: flex;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffc80000;
  position: relative;
  padding: 0;
  border: none;
  cursor: pointer;
}

.submit-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  flex-grow: 1;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #000000;
  border-radius: 0 20px 20px 0;
}

.submit:hover .submit-text {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
}

.submit:active .submit-text {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border: 2px solid #000000;
}

.submit:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/*Стиль для неактивой кнопки поиск*/
.submit:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.menu-container {
  display: grid;
  grid-template-columns: 517px auto auto;
  gap: 26px;
  width: 1040px;
  margin-bottom: 30px;
  margin-top: -9px;
  margin-left: auto;
  margin-right: auto;
}

.menu-item {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.log-into {
  background-image: url("../images/icon-log-in.svg");
  background-repeat: no-repeat;
  background-position-x: 1px;
  background-position-y: 8px;
  padding-left: 27px;
}

.menu-link:hover {
  opacity: 0.6;
}

.menu-link:active {
  opacity: 0.3;
}

.menu-link:focus {
  outline: 2px solid #af4fff;
}

.compare {
  background-image: url("../images/compare-icon.svg");
  background-repeat: no-repeat;
  background-position-x: 1px;
  background-position-y: 8px;
  padding-left: 22px;
  margin-right: -15px;
}

.basket {
  background-image: url("../images/basket.svg");
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 5px;
  padding-left: 40px;
}

.basket-count {
  position: absolute;
  width: 21px;
  min-height: 21px;
  border-radius: 50%;
  background-color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  left: -3px;
  top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popover {
  position: absolute;
  top: 41px;
  left: -129px;
  right: 0;
  box-sizing: border-box;
  width: 320px;
  padding-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  min-height: 301px;
  display: block;
  z-index: 5;
}

.cart-picture {
  margin-right: 23px;
}

.popover-cart {
  display: none;
}

.popover-close-button {
  background-color: #ffffff;
  display: block;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 14px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 3px;
}

.popover-close-button:hover {
  background-color: #ffe17f;
}

.popover-close-button:active {
  background-color: #ffe17f;
}

.popover-close-button:active .open-basket-page {
  opacity: 0.3;
}

.popover-close-button:focus {
  outline-offset: 1px;
  outline: 2px solid #af4fff;
}

/* Стиль для неактивной кнопки в поповере */
.disabled-popover .open-basket-page {
  opacity: 0.3;
}

.popover-content {
  height: 100%;
}

.cross {
  position: absolute;
  left: 5px;
  top: 5px;
}

.cart-item {
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 20px;
}

.cart-items-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.popover-cart::before {
  content: " ";
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #000000;
  transform: rotate(45deg);
  left: 153px;
  top: -3px;
}

.basket-first {
  width: 121px;
}

.basket-second {
  width: 151px;
}

.popover-items-link {
  display: flex;
  text-decoration: none;
  color: #ffffff;
}

.popover-items-link:hover {
  opacity: 0.6;
}

.popover-items-link:active {
  opacity: 0.3;
}

.popover-items-link:focus {
  outline: 2px solid #af4fff;
}

.total-info {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(26, 26, 26, 1);
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.total-number,
.total-sum {
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
}

.total-sum {
  text-align: end;
}

.cart-item:last-child {
  padding-top: 21px;
}

.cart-item-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.cart-item-button {
  position: relative;
  background-color: #000000;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: auto;
  top: -5px;
  right: -5px;
  border: none;
}

.cart-item-button:hover {
  opacity: 0.6;
}

.cart-item-button:active {
  opacity: 0.3;
}

.cart-item-button:focus {
  outline: 2px solid #af4fff;
}

.menu-searcher {
  display: grid;
  grid-template-columns: auto 160px;
  width: 517px;
  align-self: start;
}

.log-in {
  width: 231px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 28px;
}

.log-out-main {
  display: none;
}

.log-out-text {
  color: rgba(0, 0, 0, 0.3);
}

.menu-basket {
  display: grid;
  grid-template-columns: auto auto;
  gap: 36px;
  margin-left: auto;
  width: 240px;
}

.menu-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #000000;
}

.list-of-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.first-column {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: 30px;
  width: 222px;
}

.catalog-container-header {
  display: flex;
  margin: 0 auto;
  width: 1040px;
}

.catalog-container {
  box-sizing: border-box;
  width: 320px;
  padding-left: 60px;
}

.second-column {
  padding: 0;
  width: 212px;
  margin: 0;
  list-style-type: none;
}

.third-column {
  padding: 0;
  width: 211px;
  margin: 0;
  list-style-type: none;
}

.catalog {
  position: relative;
}

.catalog-wrapper {
  box-sizing: border-box;
  width: 1160px;
  display: flex;
  padding-bottom: 45px;
  position: absolute;
  background-color: #ffe17f;
  top: 57px;
  left: -60px;
  padding-left: 60px;
  padding-right: 60px;
}

.catalog-hide {
  display: none;
}

.items-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-button {
  display: block;
  width: 293px;
  margin-right: 276px;
}

.catalog-item {
  margin-bottom: 6px;
}

.services-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 471px;
}

.navigation-item {
  padding-top: 15px;
}

.navigation-item:first-child {
  margin-right: 44px;
}

.navigation-item:nth-child(2) {
  margin-right: 48px;
}

.navigation-item:nth-child(3) {
  margin-right: -5px;
}

.catalog-menu-button {
  display: block;
  background-color: #ffe17f00;
  position: relative;
  padding-bottom: 14px;
  padding-top: 15px;
  z-index: 6;
  box-sizing: border-box;
}

.catalog-menu-button::before {
  position: absolute;
  content: " ";
  width: 16px;
  height: 1px;
  background-color: #000000;
  opacity: 0.3;
  right: 17px;
  top: 50%;
}

.catalog-menu-button::after {
  position: absolute;
  content: " ";
  width: 16px;
  height: 1px;
  z-index: 1;
  background-color: #000000;
  opacity: 0.3;
  right: 17px;
  top: 50%;
  transform: rotate(90deg);
}

.catalog-button:focus-within .catalog-wrapper {
  display: block;
}

.catalog::after {
  content: " ";
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  background-color: transparent;
  opacity: 0.3;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
}

.navigation-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.services-navigation .navigation-link:hover {
  opacity: 0.6;
}

.services-navigation .navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  outline: 2px solid #af4fff;
}

.catalog-text {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  color: #000000;
  text-decoration: none;
}

/*Стили для закрытия каталога*/
.catalog-button-close:hover .catalog::after {
  opacity: 1;
}

.catalog-button-close:hover .catalog-menu-button::after {
  transform: rotate(180deg);
  opacity: 1;
}

.catalog-button-close:hover .catalog-menu-button::before {
  opacity: 1;
}

.catalog-button-close:active .catalog-menu-button::after {
  transform: rotate(180deg);
  opacity: 1;
}

.catalog-button-close:active .catalog-menu-button::before {
  opacity: 1;
}

.catalog-button-close:active.button-close {
  opacity: 1;
}

/* Стили для открытия каталога */
.catalog-button:hover .catalog::after {
  opacity: 1;
}

.catalog-button:hover .catalog-menu-button::after {
  transform: rotate(90deg);
  opacity: 1;
}

.catalog-button:hover .catalog-menu-button::before {
  opacity: 1;
}

.catalog-button:active .catalog-menu-button::before {
  opacity: 1;
}

.catalog-button:active .catalog-menu-button::after {
  transform: rotate(90deg);
  opacity: 1;
}

.catalog-button:active.catalog-after {
  opacity: 1;
}

.catalog-button:focus-within .catalog-menu-button::after {
  transform: rotate(180deg);
}

.catalog-text:hover {
  opacity: 0.6;
}

.catalog-text:active {
  opacity: 0.3;
}

.catalog-text:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Стиль для активного пунка в хедере: доставка, контакты и гарантия */
.active-point-header {
  box-sizing: border-box;
  padding-bottom: 2px;
  border-bottom: 2px solid #000000;
}

/* Стиль для товаров каталога */
.active-point-catalog {
  padding-bottom: 1px;
  border-bottom: 1px solid #000000;
}

.number-container {
  width: 1160px;
  background: linear-gradient(to bottom, #ffe17f 135px, #ffffff 135px);
  box-sizing: border-box;
  color: #000000;
}

.number-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  display: block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
  color: #ffffff;
  margin: 0;
  margin-left: auto;
  min-width: 250px;
  padding-top: 64px;
  margin-right: 50px;
  height: 135px;
}

.icons-catalog-list {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.items-link {
  width: 160px;
}

.items-link:first-child:hover .icons-link::before {
  background-color: #ffc700;
}

.items-link:nth-child(2):hover .icons-link::before {
  background-color: #ffc700;
}

.items-link:nth-child(3):hover .icons-link::before {
  background-color: #ffc700;
}

.items-link:nth-child(4):hover .icons-link::before {
  background-color: #ffc700;
}

.items-link:nth-child(5):hover .icons-link::before {
  background-color: #ffc700;
}

.items-link:nth-child(6):hover .icons-link::before {
  background-color: #ffc700;
}

.icons-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
  display: block;
}

.icons-link:active {
  opacity: 0.3;
}

.icons-link:focus {
  outline: 2px solid #af4fff;
}

.icons-text {
  margin: 0;
  padding-bottom: 12px;
  min-height: 60px;
  box-sizing: border-box;
}

.image-buttons-container {
  position: relative;
  margin-right: 40px;
  margin-top: -150px;
}

.main-index {
  margin-top: -1px;
}

.slider-buttons-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 530px;
  top: 211px;
  left: 30px;
}

.slider-button {
  background-image: url("../images/arrow-slider.svg");
  height: 60px;
  width: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.current-button:disabled .inside-text {
  opacity: 0.1;
}

.slider-button:disabled {
  opacity: 0.1;
}

.slider-next {
  transform: rotate(180deg);
}

.sliders {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0;
  position: relative;
  z-index: 1;
}

.sliders-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
}

.sliders-content:nth-child(2) {
  display: none;
}

.sliders-content:nth-child(3) {
  display: none;
}

.slider-image {
  display: block;
}

.sliders-text-container {
  margin-top: -28px;
  width: 560px;
  right: 0;
  z-index: 3;
}

.sliders-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 29px;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.slider-interactive {
  display: flex;
  justify-content: space-between;
}

.slider-pagination {
  display: grid;
  grid-template-columns: 12px 12px 12px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.slider-pagination-item {
  display: flex;
}

.slider-pagination-button {
  height: 12px;
  width: 12px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  align-self: center;
  position: relative;
  cursor: pointer;
}

.slider-pagination-button::after {
  position: absolute;
  content: " ";
  height: 12px;
  width: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ffffff;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.current-slider::after {
  position: absolute;
  content: " ";
  height: 12px;
  width: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #000000;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.current-slider:hover {
  opacity: 0.6;
}

.current-slider:active {
  opacity: 0.3;
}

.current-slider:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.details {
  display: block;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  padding-top: 9px;
  padding-bottom: 10px;
  z-index: 2;
  padding-left: 38px;
  padding-right: 35px;
  width: 220px;
  border: none;
}

.details::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffe17f;
  z-index: -1;
}

.details:hover {
  background-color: #ffe17f;
}

.details:active::before {
  content: " ";
  position: absolute;
  width: 220px;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #ffc700;
  z-index: -1;
}

.details:active {
  background-color: #ffc700;
}

.details:focus {
  outline: 2px solid #af4fff;
}

.button-slider {
  box-sizing: border-box;
  position: relative;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding-top: 10px;
  padding-bottom: 9px;
  width: 160px;
  z-index: 2;
  cursor: pointer;
}

.button-slider::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffe17f;
  z-index: -1;
}

.button-slider:hover {
  background-color: #ffe17f;
}

.button-slider:active::before {
  content: " ";
  position: absolute;
  width: 160px;
  height: 8px;
  left: 0;
  top: 15px;
  background-color: #ffc700;
  z-index: -1;
}

.button-slider:active {
  background-color: #ffc700;
}

.button-slider:focus {
  outline: 2px solid #af4fff;
}

.current-button {
  display: flex;
  justify-content: flex-start;
  background-color: #000000;
  color: #ffe17f;
  width: 280px;
  border: none;
  padding-top: 10px;
  padding-bottom: 9px;
  z-index: 2;
  padding-left: 0;
}

.current-button:hover .inside-text {
  opacity: 0.5;
}

.current-button:active .inside-text {
  opacity: 0.3;
}

.inside-text {
  width: 160px;
  padding-left: 4px;
  text-align: center;
}

.current-button:focus {
  outline: 2px solid #af4fff;
}

.features {
  font-weight: inherit;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 12px;
}

.specification {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.specification-copter:not(:last-child) {
  margin-right: 21px;
}

.specification-bracelet:not(:last-child) {
  margin-right: 20px;
}

.specification-selfi:not(:last-child) {
  margin-right: 40px;
}

.features-text {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.items-link:first-child .icons-link::before {
  content: " ";
  background-image: url("../images/reality-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 160px;
  width: 160px;
  background-color: #ffe17f;
  margin-bottom: 33px;
}

.items-link:nth-child(2) .icons-link::before {
  content: " ";
  background-image: url("../images/selfi-icon.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
  height: 160px;
  width: 160px;
  background-color: #ffe17f;
  margin-bottom: 33px;
}

.items-link:nth-child(3) .icons-link::before {
  content: " ";
  background-image: url("../images/camera-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 160px;
  width: 160px;
  background-color: #ffe17f;
  margin-bottom: 33px;
}

.items-link:nth-child(5) .icons-link::before {
  content: " ";
  background-image: url("../images/watch-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 160px;
  width: 160px;
  background-color: #ffe17f;
  margin-bottom: 33px;
}

.items-link:nth-child(4) .icons-link::before {
  content: " ";
  background-image: url("../images/braclets-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 160px;
  width: 160px;
  background-color: #ffe17f;
  margin-bottom: 33px;
}

.items-link:nth-child(6) .icons-link::before {
  content: " ";
  background-image: url("../images/copter-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 160px;
  width: 160px;
  background-color: #ffe17f;
  margin-bottom: 33px;
}

.services-container {
  background: linear-gradient(to bottom, #ffffff00 102px, #f0f0f0 102px);
  padding-bottom: 72px;
  margin-bottom: 70px;
}

.services-options {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.services-buttons {
  width: 287px;
  padding: 0;
  margin: 0;
  margin-right: 116px;
  margin-top: 64px;
  list-style-type: none;
  position: relative;
}

.services-options::after {
  position: absolute;
  content: " ";
  border-right: 7px solid #000000;
  height: 100%;
  left: 280px;
  z-index: 0;
}

.button-services {
  margin-bottom: 35px;
}

.button-services:last-child {
  margin-bottom: 0;
}

.button-feedback {
  display: block;
  box-sizing: border-box;
  position: relative;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 4px;
  width: 259px;
  z-index: 2;
}

.button-feedback::before {
  content: " ";
  position: absolute;
  height: 8px;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  background-color: #ffe17f;
  z-index: -1;
}

.button-feedback:hover {
  background-color: #ffe17f;
}

.button-feedback:active {
  background-color: #ffc700;
}

.button-feedback:active::before {
  content: " ";
  position: absolute;
  width: 259px;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #ffc700;
  z-index: -1;
}

.button-feedback:focus {
  outline: 2px solid #af4fff;
}

.button-about {
  display: block;
  width: 270px;
  box-sizing: border-box;
  position: relative;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 4px;
}

.button-about::before {
  content: " ";
  position: absolute;
  height: 8px;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  background-color: #ffe17f;
  z-index: -1;
}

.button-about:hover {
  background-color: #ffe17f;
}

.button-about:active {
  background-color: #ffc700;
}

.button-about:active::before {
  content: " ";
  position: absolute;
  width: 270px;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #ffc700;
  z-index: -1;
}

.button-about:focus {
  outline: 2px solid #af4fff;
}

.services-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-title {
  margin: 0;
  margin-bottom: 34px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  padding-top: 1px;
}

.delivery {
  background-image: url("../images/delivery-man.svg");
  background-repeat: no-repeat;
  background-position: right center;
  width: 694px;
  margin-top: 72px;
}

.guarantee {
  margin-top: 59px;
  padding-top: 13px;
  padding-bottom: 10px;
  background-image: url("../images/guarantee.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 2px;
  width: 729px;
  display: none;
}

.loan {
  margin-top: 59px;
  padding-top: 13px;
  background-image: url("../images/credit.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 6px;
  width: 729px;
  display: none;
}

.delivery-order-text {
  margin: 0 auto;
  align-self: center;
  padding-top: 43px;
  padding-bottom: 37px;
  line-height: 20px;
  padding-left: 154px;
  padding-right: 150px;
}

.delivery-order {
  display: flex;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #f0f0f0;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 71px;
  border: none;
  position: relative;
  cursor: pointer;
  padding: 0;
}

.info {
  opacity: 0.3;
  position: absolute;
  right: 61px;
  top: 50%;
  transform: translateY(-50%);
}

.delivery-order::before {
  height: 100%;
  width: 125px;
  content: " ";
  background-color: #ffe17f;
  background-image: url("../images/truck-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 42px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  box-sizing: border-box;
}

.delivery-order::after {
  height: 40px;
  width: 40px;
  content: " ";
  background-color: rgba(220, 220, 220, 0.5);
  position: absolute;
  right: 42px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.delivery-order:hover.delivery-order::before {
  background-color: #ffc700;
}

.delivery-order:hover .info {
  opacity: 1;
}

.delivery-order:active {
  opacity: 0.3;
}

.delivery-order:focus {
  outline: 2px solid #af4fff;
  outline-offset: 1px;
}

.delivery-order:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.about-container {
  width: 1160px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about {
  width: 520px;
  margin-right: 108px;
  color: #444444;
}

.contacts {
  width: 532px;
  margin-left: auto;
  color: #444444;
}

.contacts-schedule {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.services-text {
  margin: 0;
  color: #444444;
  margin-bottom: 72px;
  letter-spacing: normal;
  width: 479px;
}

.delivery .services-text {
  width: 453px;
}

.subtitle {
  margin-top: 0;
  color: #444444;
  margin-bottom: 51px;
}

.mailing {
  box-sizing: border-box;
  color: #444444;
  width: 560px;
  margin-top: 74px;
  margin-left: 245px;
  padding-left: 7px;
}

.mailing-free {
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: left 7px;
  margin-left: auto;
  color: #444444;
  margin-bottom: 68px;
  padding-left: 32px;
  box-sizing: border-box;
}

.field {
  box-sizing: border-box;
  background-color: #f0f0f0;
  height: 57px;
  padding: 0;
  padding-top: 6px;
  border: none;
}

.about-title {
  margin-top: 48px;
  margin-bottom: 47px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  position: relative;
}

.about-title::before {
  content: " ";
  position: absolute;
  background-color: #000000;
  width: 84px;
  height: 7px;
  top: -48px;
}

.title-text {
  margin-top: 0;
  margin-bottom: 30px;
}

.about .title-text {
  width: 497px;
}

.contacts .title-text {
  width: 509px;
}

.contacts-title {
  margin-top: 48px;
  margin-bottom: 47px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  position: relative;
}

.contacts-title::before {
  content: " ";
  position: absolute;
  background-color: #000000;
  width: 84px;
  height: 7px;
  top: -48px;
}

.contacts-subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.partners {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
}

.partners-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 19px;
  padding-left: 29px;
  list-style-type: none;
}

.partners-list::before {
  display: inline-block;
  position: relative;
  content: " ";
  border-radius: 50%;
  border: 4px solid #ffc700;
  left: -27px;
  top: -2px;
}

.contacts-address-text {
  margin-top: 0;
  font-style: normal;
  margin-bottom: 0;
}

.contacts-phone {
  display: inline-block;
  font-style: normal;
  color: #444444;
  margin-bottom: 30px;
}

.contacts-phone:focus {
  outline: 2px solid #af4fff;
}

.newsletter {
  display: flex;
  background-color: #f0f0f0;
}

.newsletter-text-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.newsletter-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 348px;
  margin-top: 64px;
  margin-bottom: 140px;
  padding-left: 7px;
  padding-top: 1px;
}

.newsletter-form {
  display: flex;
  margin-bottom: 56px;
  min-height: 57px;
  margin-left: 0;
  margin-top: 3px;
}

.newsletter-button {
  border: 3px solid #c4c4c4;
  padding-left: 34px;
  padding-right: 34px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.newsletter-button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.newsletter-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border-color: #000000;
}

.newsletter-button:focus {
  outline: 2px solid #af4fff;
}

/*Неактивное состояние для подписки на рассылку*/
.newsletter-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.field-newsletter::placeholder {
  color: #444444;
  opacity: 0.5;
  font-size: 18px;
  line-height: 30px;
}

.field:active {
  outline: none;
}

.field:focus {
  outline: none;
  background-color: #dcdcdc;
}

/* Неактивное состояние для форм*/
.field:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.main-footer {
  background-color: #444444;
  color: #ffffff;
}

.page-footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.footer-contacts {
  position: relative;
  width: 239px;
  margin-right: 119px;
  margin-top: 61px;
}

.footer-navigation-list {
  display: grid;
  grid-template-columns: 125px 121px 128px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 62px;
  gap: 35px;
}

.footer-social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  width: 150px;
}

.footer-social-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.htmlacademy-link {
  display: inline-block;
  margin-left: 60px;
}

.logo-wrapper {
  display: flex;
  justify-content: flex-end;
}

.html-academy-link {
  fill: #ffc700;
  display: block;
}

.htmlacademy-link:hover .html-academy-link {
  fill: #ffffff;
}

.htmlacademy-link:active .html-academy-link {
  fill: #ffffff;
  fill-opacity: 0.3;
}

.htmlacademy-link:focus {
  outline: 2px solid #af4fff;
}

.htmlacademy {
  display: inline-block;
  position: relative;
}

.social-icons {
  position: relative;
  z-index: 2;
  fill: #444444;
}

.htmlacademy::before {
  content: " ";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.3;
  left: 0;
  z-index: 1;
}

.htmlacademy:hover::before {
  background-color: #ffc700;
  opacity: 1;
}

.htmlacademy:active::before {
  background-color: #ffc700;
  opacity: 1;
}

.htmlacademy:active .social-icons {
  opacity: 0.3;
}

.htmlacademy:focus {
  outline: 2px solid #af4fff;
}

.footer-social-item:nth-child(3) {
  margin-right: 0;
}

.footer-logo {
  display: block;
  fill: #ffc700;
}

.footer-navigation {
  margin-top: 137px;
  margin-bottom: 61px;
  width: 444px;
}

.reference {
  margin-top: 140px;
  width: 175px;
  margin-left: auto;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 27px;
}

.logo-footer:hover .footer-logo {
  opacity: 0.6;
}

.logo-footer:active .footer-logo {
  opacity: 0.3;
}

.logo-footer:focus {
  fill: #ffc700;
  outline: 2px solid #af4fff;
}

.footer-navigation-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto;
}

.footer-navigation-link:hover {
  color: #ffc700;
}

.footer-navigation-link:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-navigation-link:focus {
  outline: 2px solid #af4fff;
}

.footer-contacts-address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
  display: block;
}

.footer-contacts::after {
  content: "";
  border-top: 7px solid #ffc700;
  padding-left: 80px;
  position: absolute;
  top: 176px;
  left: 1px;
}

.footer-contacts-phone {
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 63px;
}

.footer-contacts-phone:hover {
  color: #ffc700;
}

.footer-contacts-phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-contacts-phone:focus {
  outline: 2px solid #af4fff;
}

.footer-contacts-tel {
  justify-content: flex-end;
  display: flex;
}

.inner-container {
  width: 1160px;
  margin: 0 auto;
}

.inner-header {
  width: 1079px;
  margin-left: 63px;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 16px;
  padding-top: 1px;
  margin-left: -3px;
}

.tree-link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.tree-link:hover {
  opacity: 0.6;
}

.tree-link:active {
  opacity: 0.3;
}

.tree-link:focus {
  outline: 2px solid #af4fff;
}

.tree {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 24px;
  margin-left: -4px;
}

.tree-item {
  margin-right: 38px;
  position: relative;
  margin-bottom: 10px;
}

.tree-item:not(:first-child)::before {
  opacity: 0.2;
  position: absolute;
  left: -20px;
  top: -8px;
  content: url("../images/breadcrumbs.svg");
}

.cards {
  color: #000000;
  background-color: #ffffff;
  padding-bottom: 78px;
}

.catalog-products {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

/*Рэндж*/
.range {
  width: 200px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 13px;
  background-color: rgba(220, 220, 220, 1);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #000000;
}

.toggle-min {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -8px;
  left: -10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.toggle-max {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #f0f0f0;
  border: none;
  top: -8px;
  right: -10px;
  cursor: pointer;
}

.toggle-max::after {
  position: absolute;
  content: " ";
  width: 20px;
  height: 20px;
  background-color: #ebebeb;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #000000;
}

.toggle-min::after {
  position: absolute;
  content: " ";
  width: 20px;
  height: 20px;
  background-color: #ebebeb;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50%;
}

.toggle-min:hover.toggle-min::after {
  opacity: 0.5;
}

.toggle-max:hover.toggle-max::after {
  opacity: 0.5;
}

.toggle-max:active {
  opacity: 1;
}

.toggle-min:active {
  opacity: 1;
}

.toggle-max:focus {
  outline: 2px solid #af4fff;
  outline-offset: 1px;
}

.toggle-min:focus {
  outline: 2px solid #af4fff;
  outline-offset: 1px;
}

.range-wrapper-inputs {
  display: flex;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
  text-align: start;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-label {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
  display: flex;
  margin-bottom: 0;
}

.range-input:focus {
  outline: 2px solid #af4fff;
}

.catalog-filter-label:first-child {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
  position: relative;
  left: -13px;
  margin-right: 40px;
}

.catalog-filter-label:last-child {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
  position: relative;
  top: -2px;
}

.main-background {
  color: #000000;
  background-color: #f0f0f0;
}

.catalog-filter-group {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  border: none;
}

.catalog-filter-text {
  box-sizing: border-box;
  border-top: 2px solid #000000;
  padding-top: 12px;
  width: 200px;
  display: block;
}

.catalog-filter-group:nth-of-type(2) {
  margin-bottom: 3px;
}

.catalog-filter-group:nth-of-type(2) .catalog-filter-item {
  margin-bottom: 19px;
}

.catalog-filter-group:nth-of-type(3) .catalog-filter-item {
  margin-bottom: 19px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: -9px;
}

.catalog-right-column {
  width: 840px;
}

.filter {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 46px;
}

.button-show {
  box-sizing: border-box;
  position: relative;
  border: none;
  background-color: #ffffff00;
  padding-top: 10px;
  padding-bottom: 9px;
  width: 220px;
  z-index: 2;
  cursor: pointer;
  padding-right: 2px;
}

.button-show::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffe17f;
  z-index: -1;
}

.button-show:hover {
  background-color: #ffe17f;
}

.button-show:active::before {
  content: " ";
  position: absolute;
  width: 220px;
  height: 8px;
  left: 0;
  top: 15px;
  background-color: #ffc700;
  z-index: -1;
}

.button-show:active {
  background-color: #ffc700;
}

.button-show:focus {
  outline: 2px solid #af4fff;
}

/* Стиль для кнопки подробнее, неактивное */
.button-show:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.sorting {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 199px;
  margin-left: 40px;
  margin-top: 26px;
  margin-bottom: 25px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
}

.control-input {
  appearance: none;
  position: absolute;
  margin: 0;
  width: 20px;
  height: 20px;
}

.control-mark {
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.control-input:checked + .control-mark {
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 0;
  border: 2px solid #000000;
  border-radius: 3px;
  background-image: url("../images/checked-input.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 10px;
}

.control-input:focus + .control-mark::after {
  position: absolute;
  content: " ";
  width: 20px;
  height: 20px;
  background-color: transparent;
  left: -2px;
  top: -2px;
  outline: 2px solid #af4fff;
  outline-offset: 1px;
}

.control-label {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: block;
}

.control:hover .control-label {
  opacity: 0.6;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control:active .control-label {
  opacity: 0.5;
}

.control:active .control-mark {
  opacity: 0.5;
}

.control-input:disabled + .control-label {
  opacity: 0.3;
}

.control-input:disabled + .control-mark {
  opacity: 0.3;
}

.control-radio {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-radio:last-of-type {
  padding-top: 2px;
}

.control-input-radio {
  appearance: none;
  position: absolute;
}

.control-mark-radio {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.control-input-radio:checked + .control-mark-radio {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 2px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-image: url("../images/radio.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px 8px;
}

.control-input-radio:focus + .control-mark-radio::after {
  position: absolute;
  content: " ";
  width: 20px;
  height: 20px;
  background-color: transparent;
  left: -2px;
  top: -2px;
  outline: 2px solid #af4fff;
  outline-offset: 1px;
}

.control-radio:hover .control-label {
  opacity: 0.6;
}

.control-radio:hover .control-mark-radio {
  opacity: 0.6;
}

.control-radio:active .control-label {
  opacity: 0.5;
}

.control-radio:active .control-mark-radio {
  opacity: 0.5;
}

/*Стили неактивных чекбоксов*/
.control-input-radio:disabled + .control-label {
  opacity: 0.3;
}

.control-input-radio:disabled + .control-mark-radio {
  opacity: 0.3;
}

.sorting-container {
  display: flex;
  width: 840px;
  background-color: #f0f0f0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding: 0;
  padding-top: 12px;
  margin-bottom: 27px;
}

.catalog-filter-group:nth-of-type(3) {
  margin-top: -2px;
  margin-bottom: 17px;
}

.select-control {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  background-color: #f0f0f0;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 141px;
  margin-right: 100px;
  cursor: pointer;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus {
  outline: 2px solid #af4fff;
}

/*Неактивное состояние сортировки в каталоге */
.select-control:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
  list-style-type: none;
  margin: 0;
  padding: 70px 40px;
  padding-bottom: 0;
  margin-bottom: 44px;
}

/* Класс для новых товаров в каталоге*/
.new-item {
  position: absolute;
  right: 27px;
  top: 27px;
}

.product-card-image {
  display: block;
  margin-bottom: 32px;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
  position: relative;
}

.card-info {
  position: absolute;
  border: none;
  top: 178px;
  left: 183px;
  transform: translateX(-50%);
  z-index: 2;
  display: none;
}

.product-card-link:hover .product-card-title {
  opacity: 0.6;
}

.product-card-link:hover .product-card-image {
  opacity: 0.3;
}

.product-card-link:hover .card-info {
  display: initial;
}

.product-card-link:hover.product-card-link::before {
  display: initial;
  content: " ";
  position: absolute;
  width: 220px;
  height: 8px;
  left: 70px;
  top: 185px;
  background-color: #ffe17f;
  z-index: 1;
}

.product-card-link:active .product-card-title {
  opacity: 0.3;
}

.product-card-link:active .product-card-image {
  opacity: 0.3;
}

.product-card-link:active .card-info {
  display: initial;
}

.product-card-link:active.product-card-link::before {
  display: initial;
  content: " ";
  position: absolute;
  width: 220px;
  height: 8px;
  left: 70px;
  top: 185px;
  background-color: #ffc700;
  z-index: 1;
}

.product-card-link:focus {
  outline: 2px solid #af4fff;
}

.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-card-content {
  display: flex;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  margin: 0;
  margin-left: auto;
  padding-top: 1px;
}

.pagination-link {
  display: block;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  flex-grow: 1;
}

.pagination-item {
  margin-top: 0;
  display: flex;
}

.page-numbers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0 auto;
  margin-top: 15px;
}

.page-numbers-list .pagination-item {
  min-width: 40px;
  height: 40px;
}

/*Стиль кнопок для текущей страницы */
.pagination-current {
  opacity: 0.6;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ebebeb;
  color: #000000;
  margin-right: 40px;
  margin-left: 40px;
}

.pagination-show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid;
  border-color: #dcdcdc;
  flex-grow: 1;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 13px;
  padding-right: 10px;
  background-color: #ffffff;
  cursor: pointer;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.pagination-show-more:hover {
  border-color: #000000;
}

.pagination-show-more:active {
  border-color: #000000;
  opacity: 0.3;
}

.pagination-show-more:focus {
  outline: 2px solid #af4fff;
}

.pagination-show-more:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.pagination-more {
  display: flex;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 44px;
}

.previous-page {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 25px;
}

.pagination-prev:hover {
  background-color: #dcdcdc;
}

.pagination-prev:active .previous-page {
  background-color: #dcdcdc;
  opacity: 0.3;
}

.next-page {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding-top: 25px;
  padding-right: 21px;
  padding-left: 26px;
  margin: 0;
}

.pagination-next:hover {
  background-color: #dcdcdc;
}

.pagination-next:active .next-page {
  opacity: 0.3;
}

.pagination-link:not(:first-child, :last-child) {
  width: 40px;
  height: 40px;
}

.logo-htmlacademy {
  margin-bottom: 65px;
}

.main-inner {
  padding-top: 35px;
}

.arrows-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  padding-right: 40px;
  margin-left: auto;
  align-items: center;
}

.arrows {
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  background-color: #f0f0f0;
}

.arrows-icons {
  opacity: 0.3;
}

.arrows:hover .arrows-icons {
  opacity: 0.5;
}

.arrows:active .arrows-icons {
  opacity: 1;
}

.arrows:focus {
  border: 2px solid #af4fff;
  outline: none;
}

.arrows:first-of-type .arrows-icons {
  transform: rotate(180deg);
}

.pagination-link:hover .page-number {
  opacity: 1;
}

.pagination-link:active .page-number {
  opacity: 0.1;
}

.pagination-link:focus {
  outline: 2px solid #af4fff;
}

/* Состояние выключенных кнопок для ссылок, которые выглядят как кнопки */
.disabled-button-link {
  opacity: 0.3;
  pointer-events: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 6;
}

.modal-closed {
  display: none;
}

.auth-form {
  display: flex;
  flex-wrap: wrap;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-auth {
  padding: 62px 70px;
  box-sizing: border-box;
  width: 920px;
}

.modal-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 72px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 2px solid #af4fff;
}

.caption-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 14px;
}

.clue {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.quantity-container {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.name-form-field {
  background-image: url("../images/modal-log.svg");
  background-repeat: no-repeat;
  width: 360px;
  margin-right: 40px;
  background-position-x: 325px;
  background-position-y: center;
  padding-right: 40px;
  min-height: 60px;
  padding-bottom: 9px;
  padding-left: 21px;
}

.email-form-field {
  width: 360px;
  margin-left: auto;
  background-image: url("../images/modal-mail.svg");
  background-repeat: no-repeat;
  background-position-x: 325px;
  background-position-y: center;
  padding-right: 40px;
  box-sizing: border-box;
  min-height: 60px;
  padding-top: 0;
  padding-left: 19px;
}

/*класс для ошибки в введении емайла */
.email-form-error {
  border: 2px solid #ff3d3d;
}

.email-form-error + .clue {
  color: #ff3d3d;
}

.item-form-field {
  width: 540px;
  margin-right: 40px;
  padding-bottom: 5px;
  padding-left: 20px;
}

/*Стиль для ошибки в кол-ве товара*/
.number-form-error {
  border: 2px solid #ff3d3d;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  margin-bottom: 42px;
}

.field-group:nth-child(3) {
  margin-top: 0;
}

.field-group:nth-child(4) {
  margin-top: 0;
  width: 180px;
}

.less-number {
  background-image: url("../images/less.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  width: 60px;
  height: 60px;
}

.more-number {
  background-image: url("../images/more.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  width: 60px;
  height: 60px;
}

.send-form {
  position: relative;
  box-sizing: border-box;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: none;
  background-color: #ffffff;
  width: 200px;
  z-index: 2;
  cursor: pointer;
}

.send-form::before {
  content: " ";
  position: absolute;
  width: 200px;
  height: 8px;
  left: 0;
  top: 15px;
  background-color: #ffe17f;
  z-index: -1;
}

.send-form:hover {
  background-color: #ffe17f;
}

.send-form:active {
  background-color: #ffc700;
}

.send-form:active::before {
  content: " ";
  position: absolute;
  width: 200px;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #ffc700;
  z-index: -1;
}

.send-form:focus {
  outline: 2px solid #af4fff;
}

.field-newsletter {
  width: 559px;
  border-bottom: 3px solid #c4c4c4;
  padding: 0;
  padding-left: 18px;
  padding-top: 3px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  min-height: 57px;
}

/* Стили для ошибки при заполнении поля email.*/
.invalid-newsletter {
  border-bottom: 3px solid #ff3d3d;
}

.field-newsletter:focus:not(:placeholder-shown) {
  background-color: #f0f0f0;
}

.field[type="text"] {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.field[type="email"] {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  width: 26px;
  height: 26px;
  margin-left: 8px;
  cursor: pointer;
  background-image: url("../images/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.form-label {
  display: flex;
}

.tooltip {
  display: block;
  position: relative;
  top: -4px;
  left: 1px;
}

.tooltip-text::before {
  position: absolute;
  content: " ";
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: #000000;
  top: -3px;
  left: 146px;
}

.tooltip-text {
  top: 37px;
  left: -132px;
  position: absolute;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  display: block;
  width: 200px;
  padding: 19px 17px 21px 19px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
  box-sizing: border-box;
}

.tooltip-show {
  display: none;
}

.tooltip-toggle:hover + .tooltip-show,
.tooltip-toggle:focus + .tooltip-show {
  display: block;
}

.tooltip-toggle:focus {
  outline: 2px solid #af4fff;
}

.less-number,
.more-number {
  fill: #000000;
}

.less-number:hover,
.more-number:hover {
  background-color: #ebebeb;
  opacity: 0.6;
}

.less-number:active,
.more-number:active {
  background-color: #ebebeb;
  opacity: 0.6;
}


.less-number:focus,
.more-number:focus {
  border: 2px solid #af4fff;
  outline: none;
}

.number-form-field:focus {
  outline: 2px solid #af4fff;
}

/*неактивное состояние для + и - в модалке*/
.less-number:disabled,
.more-number:disabled {
  opacity: 0.3;
}

.number-form-field {
  min-height: 60px;
  box-sizing: border-box;
  width: 60px;
  border: none;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  z-index: 1;
  padding: 0;
  appearance: textfield;
}

.name-form-field::placeholder,
.email-form-field::placeholder,
.item-form-field::placeholder,
.number-form-field::placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.name-form-field:hover,
.email-form-field:hover,
.item-form-field:hover,
.number-form-field:hover {
  background-color: #dcdcdc;
}

.name-form-field:focus,
.email-form-field:focus,
.item-form-field:focus {
  background-color: #f0f0f0;
  outline: 2px solid #af4fff;
}

.number-form-field::-webkit-outer-spin-button,
.number-form-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
